<html>
    <head>
        <style>
            table, th, td {
              border: 1px solid black;
            }
            th, td {
                background-color: #96D4D4;
              }
            </style>
    </head>
    <body>
        <h1>Welcome to the customer page</h1>
        <table style = 'width:100%'>
        <thead>
            <th>customer ID</th>
            <th>customer Name</th>
            <th>customer address</th> 
            <th>customer phone</th>
        </thead>
        <tbody>
            {% for customer  in customers %}
                    <tr>
                        <td>{{customer.id}}</td>
                        <td>{{customer.costomer_name}}</td>
                        <td>{{customer.costomer_address}}</td>
                        <td>{{customer.costomer_phone}}</td>
                    </tr>
                    
            {% endfor %}
        </tbody>
     </table>
    </body>
</html>